


<table border = 1>
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>EmailID</th>
            <th>SalesVolume</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let TempSalesPerson of SalesPersonList">
            <td>{{TempSalesPerson.FirstName}}</td>
            <td>{{TempSalesPerson.LastName}}</td>
            <td>{{TempSalesPerson.Email}}</td>
            <td>{{TempSalesPerson.SalesVolume}}</td>
        </tr>
        
    </tbody>
</table>